* {
    box-sizing: border-box;
}


body {
    margin: 0
}


.no-hovering {
    width: 500px;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
}
.buttons > button {
    margin:auto;
}
.button-texts {
    margin-right: 100px;
}


.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form > input{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 5px 10px;
}

#form-submit {
    height: 30px;
    width: 180px;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 7px;
}