body {
    margin: 0;
    background-color: midnightblue;
    font-family: 'PT Sans', sans-serif;
}
.fighting-buttons {
    background-color: thistle;
    color: indigo;
    margin: 0px auto;
    height: 250px;
    width: 500px;
    border-radius: 10px;
}
.buttons-title {
    width: 200px;
    margin: 20px auto;
    padding-top: 20px;
}
.fight {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px auto;
    height: 150px;
    width: 500px;
}
.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}
.buttons > button {
    font-family: 'PT Sans', sans-serif;
    margin: 15px 0px;
    height: 35px;
    width: 180px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 7px;
}
.button-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.button-texts > h1 {
    margin: 33px 10px;
}

.no-hovering {
    background-color: crimson;
    color: gold;
    border-radius: 10px;
    width: 750px;
    margin: 20px auto;
    font-size: 40px;
    text-align: center;
}

.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    height: 375px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}
.form > input{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 5px 10px;
}

#form-submit {
    font-family: 'PT Sans', sans-serif;
    height: 40px;
    width: 180px;
    background-color: steelblue;
    color: whitesmoke;
    border: none;
    border-radius: 7px;
}

.sphere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 250px;
    margin: 50px auto;
    background-color: limegreen;
    border-radius: 10px;
}

#sphere-form {
    margin-bottom: 10px;
}
#sphere-radius {
    height: 30px;
    width: 180px;
    background-color: whitesmoke;
    color: gray;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
}
#submit-radius {
    height: 30px;
    width: 180px;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 7px;
}
#sphere-result {
    margin: auto;
    padding: 10px;
    text-align: center;
}
